<footer class="footer">
    <div class="footer_top">
        <div class="container">
            <div class="bordered_1px"></div>
            <div class="row">
                <div class="col-xl-3 col-md-6 col-lg-3">
                    <div class="footer_widget">
                        <h3 class="footer_title">
                            Contato
                        </h3>
                        <ul class="address_line">
                            <li>acaochegoorg@yahoo.com.br</li>
                            <li>comunicacao@acaochego.org</li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-3  col-md-6 col-lg-3">
                    <div class="footer_widget">
                         <h3 class="footer_title">
                            Formas de Ajudar
                        </h3>
                        <ul class="address_line">
                            <li>PagSeguro Internet S.A.</li>
                            <li>Agência: 0001</li>
                            <li>Conta: 03661567-2</li>
                            <li>CNPJ: 08.914.407/0001-36</li>
                        </ul>
                    </div> 
                </div>
                <div class="col-xl-3  col-md-6 col-lg-3">
                    <div class="footer_widget">
                        <h3 class="footer_title">
                            Links
                        </h3>
                        <ul class="links">
                            <li><a href="#">Quem Somos</a></li>
                            <li><a href="#">Adotar</a></li>
                            <li><a href="#">Apadrinhar</a></li>
                            <li><a href="#">Contato</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6 col-lg-3 ">
                    <div class="footer_widget">
                        <div class="footer_logo">
                            <a href="#">
                                <router-outlet>
                                    <img src="../assets/img/logo.png" alt="logo">
                                </router-outlet>
                            </a>
                        </div>
                        <p class="address_text">Nossas Redes
                        </p>
                        <div class="socail_links">
                            <ul>
                                <li>
                                    <a href="#">
                                        <i class="ti-facebook"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="ti-pinterest"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-google-plus"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-linkedin"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copy-right_text">
        <div class="container">
            <div class="bordered_1px"></div>
            <div class="row">
                <div class="col-xl-12">
                    <p class="copy_right text-center">
                            Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | Trabalho da disciplina de Projeto Integrado em Arquitetura de Software PUC MINAS
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>
