<div class="service_area">
    <div class="container">
        <div class="row justify-content-center ">
            <div class="col-lg-7 col-md-10">
                <div class="section_title text-center mb-95">
                    <h3>Quem Somos</h3>
                    <p>O cachorrinho que você procura para alegrar sua família está aqui, só esperando pela chance de te fazer (mais) feliz! <br>

                        Hoje somos ponte entre o cachorrinho que precisa de um lar e o humano que precisa amar. <br>
                        
                        E são muitos! Mais de 250 cachorros de muitas idades, tamanhos, cores e personalidades. Castrados, vacinados e vermifugados. Veja os focinhos na área de adoção e marque sua visita para conhecê-los.<br>
                        
                        <b>Quer adotar um cãozinho? Fale com a gente!</b><br>
                        
                        <b>Já pensou em apadrinhar? Escolha um cachorrinho para chamar de seu.</b><br>
                    </p>
                </div>
            </div>
        </div>
    </div> 
</div>  
