<div class="slider_area">
    <div class="single_slider slider_bg_1 d-flex align-items-center">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-md-6 slider_area_padding">
                    <div class="slider_text">
                        <h3>Adote ou Apadrinhe <br> <span>Um Pet</span></h3><br>
                        <!-- <a href="contact.html" class="boxed-btn4">Adotar</a> 
                        <a href="contact.html" class="boxed-btn4">Apadrinhar</a> -->
                    </div>
                </div>
            </div>
        </div>
        <div class="dog_thumb d-none d-lg-block">
            <router-outlet>
                <img src="../assets/img/banner/dog.png" alt="Imagem de um Pet">
            </router-outlet>
        </div>
    </div>
</div>
