<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Animal</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>

    <!-- header start -->
    <app-header></app-header>
    <!-- header end -->

    <!-- area de conteudo start -->
    <router-outlet></router-outlet>
    <!-- area de conteudo end -->

    <!-- Area do banner start -->
    <!-- <app-sliderarea></app-sliderarea> -->
    <!-- Area do banner end -->

    <!-- service_area_start  -->
    <!-- <app-about></app-about> -->
    <!-- service_area_end -->

    <!-- footer start-->
    <app-footer></app-footer>
    <!-- footer end-->

</body>
