<div class="service_area">
    <div class="container">

        <div class="row justify-content-center ">
            <div class="col-lg-6 col-md-10">
                <div class="section_title text-center mb-95">
                    <h3>Detalhes</h3>
                </div>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-10">

                 <div class="feature-img">
                    <img class="img-fluid" src="../assets/img/blog/single_blog_1.png" alt="">
                </div>
                
                <h3 class="mb-30">{{animaisData.nome}}</h3>

                <h4 class="mb-20">{{animaisData.raca}}</h4>

                <h4 class="mb-20">{{animaisData.cor}}</h4>

                <h4 class="mb-20">{{animaisData.sexo}}</h4>

                <h4 class="mb-20">{{animaisData.idade}}</h4>

                <h4 class="mb-20">{{animaisData.pelo}}</h4>

                <h4 class="mb-20">{{animaisData.porte}}</h4>

                <h4 class="mb-20">{{animaisData.historia}}</h4>

                <h4 class="mb-20">{{animaisData.situacao}}</h4>

            </div>     
        </div>
    </div>
</div>
